.wrapper{
  /*border: 1px solid red;*/
  /*background-color: red;*/
  /*display: inline-block;*/
}

.card {
  display: inline-block;
  margin: auto 1em;
}

.bankerDiv {
  background-color: red;
}

.playerDiv {
  background-color: black;
}
/*
.hidden {
  display: none;
}*/

.wrapper > div{
  margin: 5em;
}
